:root {
  --dark: #273e7c;
  --light: #ffffff;
  --bright: #f20242;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
  color: #ffffff;
  background-color: var(--light);
}

header {
  margin-bottom: 90px;
}

/* All links */
a {
  color: var(--dark);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #3654A9;
  outline: var(--light);
}

/* All buttons */
button {
  display: inline-block;
  margin: 5px;
  font-size: 100%;
  background-color: var(--light);
  border-radius: 25px;
  padding: 10px 30px;
  color: var(--dark);
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;
}

button:hover {
  color: var(--light);
  background-color: var(--dark);
  outline: 1px solid white;
}

/* Button on top-left to view highscores.html */
#highscores-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

/* Top-right timer container */
.timer {
  color: var(--light);
  background-color: var(--bright);
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
}

.main-container {
  margin: 20vh auto 0 auto;
  max-width: 600px;
  background-color: var(--dark);
  border-radius: 20px;
  padding: 5%;
}

/* All answers are buttons in the HTML */
.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  list-style: decimal inside none;
  padding: 5px;
}

/* Automatically hidden. This class to remove/add as you navigate through quiz */
.hide {
  display: none;
}

/* Main screen on page load to start the quiz using start button */
#start-screen {
  text-align: center;
}

/* Message that shows after user clicks an answer */
.result {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: #edefff;
  border-top: 2px solid #ccc;
}
