/* .root {
  --dark: #3654A9;
  --light: 
} */
/* ROOT VARIABLES NOT WORKING ? */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
  color: #ffffff;
  background-color: #edefff;
}

header {
  margin-bottom: 90px;
}

a {
  color: #3654A9;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #2D4587;
  outline: #ffffff;
}

button {
  display: inline-block;
  margin: 5px;
  font-size: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px 30px;
  color: #2D4587;
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
  background-color: #2D4587;
  outline: 1px solid white;
}

#highscores-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.timer {
  color: #ffffff;
  background-color: #f20242;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
}

.main-container {
  margin: 20vh auto 0 auto;
  max-width: 600px;
  background-color: #2D4587;
  border-radius: 20px;
  padding: 5%;
}
.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  list-style: decimal inside none;
  padding: 5px;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.hide {
  display: none;
}

#start-screen {
  text-align: center;
}

.result {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}
